@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(34,31,31);
}

a {
  color: #1267f0;
}

a:hover {
  text-decoration: underline;
  color: #f8f8f8;
  
}

.hr {
  background: #005cf0;
}

.hero {
  background: black;
}

.title,
.subtitle {
  color: white;
  
}

.navbar .navbar-item {
  color: #e4e2ff;
}

.navbar .navbar-item.is-active {
  background: white;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: rgb(3, 3, 3);
  color: rgb(255, 247, 247);
}

.navbar .navbar-item a {
  background-color: black;
  color: #e4e2ff;
}

.navbar .navbar-dropdown {
  background: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
}

.navbar .navbar-dropdown:hover{
  background: rgb(255, 255, 255);
}

.blog-posts {
  min-height: 100vh;
  background: rgb(27, 26, 26);
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #0f0f0f;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  color: #fffbfb;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.label {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

.heroB{
  background-color: black;
  text-align: center;
}

.control{ 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    width: 300px;
}

.titulo{
  background-color: black;
}

.titulo1{
  background-color: rgb(27, 26, 26);
}