@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap');

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  background-color: rgb(20, 19, 19);
  margin-left: 30px;
  margin-right: 30px;
}

a {
  color: #1267f0;
}

a:hover {
  text-decoration: underline;
  color: #f8f8f8;
  
}

.hr {
  background: #005cf0;
}

.hero {
  background: black;
}

.title,
.subtitle {
  color: white;
  
}

.navbar .navbar-item {
  color: #e4e2ff;
}

.navbar .navbar-item.is-active {
  background: white;
  font-weight: 700;
}

.navbar .navbar-item:hover {
  background: rgb(3, 3, 3);
  color: rgb(255, 247, 247);
}

.navbar .navbar-item a {
  background-color: rgb(20, 19, 19);
  color: #e4e2ff;
}

.navbar .navbar-dropdown {
  background: rgb(8, 8, 8);
  color: rgb(255, 255, 255);
}

.navbar .navbar-dropdown:hover{
  background-color: white;
}

.blog-posts {
  min-height: 100vh;
  background: rgb(27, 26, 26);
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #0f0f0f;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: .03rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Serif', serif;
  color: #fffbfb;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

.label {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

.heroB{
  background-color: rgb(27, 26, 26);
  text-align: center;
}

.control{ 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

h1{
  text-align: center;
  color: white;
  font-size: 250%;
}
.titulo1{
  background-color: rgb(27, 26, 26);
}

.container{
  background-color: rgb(27, 26, 26);
  width: 60%;
  height: 70%;
  text-align: center;
}

.mensaje{
  color: white;
  font-size: 150%;
  background-color: rgb(20, 19, 19);
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid rgb(255, 255, 255);
  background: rgb(3, 3, 3);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  color: white;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.table{
  background-color: rgb(20, 19, 19);
  color: white;
  border: 5px solid white;

 
}

.table_wrapper {
  overflow-x: auto;
  text-align: center;
}

h2{
  color: white;
}
